---
import '../styles/global.css';
import { type Language } from '../i18n/utils';
import 'aos/dist/aos.css';

interface Props {
  title: string;
  lang?: Language;
}

const { title} = Astro.props;
---

<!DOCTYPE html class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Royal Puppy House - Premium Dog Breeders" />
    <link rel="icon" type="image/svg+xml" href="/pegsApp/logo.svg" />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap" rel="stylesheet" />
  </head>
  <body class="bg-forest-dark text-white overflow-x-hidden">
    
    <slot />
    
    <script>
      import AOS from 'aos';
      window.AOS = AOS;
      AOS.init({
        duration: 800,
        once: true,
        offset: 50,
        easing: 'ease-out-cubic',
      });
    </script>
  </body>
</html>


